---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Mon blog d'apprentissage Astro";
---
<BaseLayout pageTitle={pageTitle}>
  <p>C'est ici que je vais publier sur mon voyage d'apprentissage d'Astro.</p>
</BaseLayout>